
<!-- meta tags and other links -->
<!-- Header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> Category</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <!-- Fontawesome -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <!-- Slick -->
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <!-- line awesome -->
    <link rel="stylesheet" th:href="@{/assets/css/line-awesome.min.css}">
    <!-- countdown css} link-->
    <link rel="stylesheet" th:href="@{/assets/css/jquery.classycountdown.min.css}">
    <!-- range css} -->
    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}">
    <!-- magnific css} link -->
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <!-- Main css} -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<style>
	.button-toggle {
	  --s: 50px; /* adjust this to control the size*/
	  
	  height: calc(var(--s) + var(--s)/5);
	  width: auto; /* some browsers need this */
	  aspect-ratio: 2.25;
	  border-radius: var(--s);
	  margin: calc(var(--s)/2);
	  display: grid;
	  cursor: pointer;
	  background-color:#ff7a7a;
	  box-sizing: content-box;
	  overflow: hidden;
	  transition: .3s .1s;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	}
	.button-toggle:before{
	  content: "";
	  padding: calc(var(--s)/10);
	  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
	  background: 
	    var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
	    var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
	    #fff;
	  mix-blend-mode: darken;
	  filter: blur(calc(var(--s)/12)) contrast(11);
	  transition: .4s, background-position .4s .1s,
	    padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
	}
	.button-toggle:checked {
	  background-color: #85ff7a;
	}
	.button-toggle:checked:before {
	  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
	  --_p: 100%;
	  --_i: 1;
	}
</style>
<body>
    
<!--==================== Preloader Start ====================-->

<!--==================== Preloader End ====================-->

<!--==================== Overlay Start ====================-->
<div class="body-overlay"></div>
<!--==================== Overlay End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="sidebar-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ==================== Scroll to Top End Here ==================== -->
<a class="scroll-top"><i class="fas fa-angle-double-up"></i></a>
<!-- ==================== Scroll to Top End Here ==================== -->

<nav class="category-two">
    <span class="close-sidebar"><i class="las la-times"></i></span>
    <ul class="category-menu-two">
        <li class="category-menu-two__item has-dropdown-two">
            <a href="#" class="category-menu-two__link">
                <span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/dog01.png}" alt=""></span> Dog Food <span class="category-menu-two__icon"><i class="las la-angle-down"></i></span></a>
            <ul class="category-dropdown-two">
                <li class="category-dropdown-two__item">
                    <a href="product-category.html" class="category-dropdown-two__link">
                        <span class="category-dropdown-two__thumb">
                            <img th:src="@{/assets/images/icons/dog01.png}" alt="">
                        </span> Category Dropdown One</a>
                </li>
                <li class="category-dropdown-two__item">
                    <a href="product-category.html" class="category-dropdown-two__link">
                        <span class="category-dropdown-two__thumb">
                            <img th:src="@{/assets/images/icons/dog01.png}" alt="">
                        </span> Category Dropdown Two</a>
                </li>
                <li class="category-dropdown-two__item">
                    <a href="product-category.html" class="category-dropdown-two__link">
                        <span class="category-dropdown-two__thumb">
                            <img th:src="@{/assets/images/icons/dog01.png}" alt="">
                        </span> Category Dropdown Three</a>
                </li>
            </ul>
        </li>
        <li class="category-menu-two__item">
            <a href="product-category.html" class="category-menu-two__link"><span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/cat.png}" alt=""></span> Cat </a>
        </li>
        <li class="category-menu-two__item">
            <a href="product-category.html" class="category-menu-two__link"> <span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/fish.png}" alt=""></span> Fish </a>
        </li>
        <li class="category-menu-two__item">                 
            <a href="product-category.html" class="category-menu-two__link"><span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/toys.png}" alt=""></span> Pet toy </a>
        </li>
        <li class="category-menu-two__item has-dropdown-two">
            <a href="#" class="category-menu-two__link">
                <span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/parrot.png}" alt=""></span> Parrot Food <span class="category-menu-two__icon"><i class="las la-angle-down"></i></span></a>
            <ul class="category-dropdown-two">
                <li class="category-dropdown-two__item">
                    <a href="product-category.html" class="category-dropdown-two__link">
                        <span class="category-dropdown-two__thumb">
                            <img th:src="@{/assets/images/icons/parrot.png}" alt="">
                        </span> Category Dropdown One</a>
                </li>
                <li class="category-dropdown-two__item">
                    <a href="product-category.html" class="category-dropdown-two__link">
                        <span class="category-dropdown-two__thumb">
                            <img th:src="@{/assets/images/icons/parrot.png}" alt="">
                        </span> Category Dropdown Two</a>
                </li>
                <li class="category-dropdown-two__item">
                    <a href="product-category.html" class="category-dropdown-two__link">
                        <span class="category-dropdown-two__thumb">
                            <img th:src="@{/assets/images/icons/parrot.png}" alt="">
                        </span> Category Dropdown Three</a>
                </li>
            </ul>
        </li>
        <li class="category-menu-two__item">
            <a href="product-category.html" class="category-menu-two__link"><span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/rabbit.png}" alt=""></span> Rabbit </a>
        </li>
        <li class="category-menu-two__item">
            <a href="product-category.html" class="category-menu-two__link"><span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/accessories.png}" alt=""></span> Accessories </a>
        </li>
        <li class="category-menu-two__item">
            <a href="product-category.html" class="category-menu-two__link"><span class="category-menu-two__thumb"><img th:src="@{/assets/images/icons/dog02.png}" alt=""></span> Small pet </a>
        </li>
     </ul>
     <div class="contact-list__wrapper d-md-none d-block">
        <div class="contact-list">
             <span class="contact-list__icon">
                <img th:src="@{/assets/images/icons/phone.png}" alt="">
             </span>
             <span class="contact-list__info"> 000 - 8888 - 9999</span>
        </div>
        <div class="contact-list">
             <span class="contact-list__icon">
               <img th:src="@{/assets/images/icons/email.png}" alt="">
            </span>
             <span class="contact-list__info"> <a href="https://template.viserlab.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ec9a859f899e9c8998ac8b818d8580c28f8381">[email&#160;protected]</a></span>
        </div>
     </div>
</nav>

<!-- ==================== Bottom Header End Here ==================== -->
<header class="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler header-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span id="hiddenNav"><i class="las la-bars"></i></span>
            </button>
            <div class="header-category-two">
                <button class="header-category-two__item">Categories <span class="header-category-two__icon"><i class="las la-bars"></i></span></button>
               
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-menu me-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Home <span class="nav-item__icon"><i class="las la-angle-down"></i></span></a>
                         <ul class="dropdown-menu">
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="index.html"> Home One </a></li>
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="index-two.html"> Home Two </a></li>
                         </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Pages <span class="nav-item__icon"><i class="las la-angle-down"></i></span></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="product-category.html">Product category</a></li>
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="product-two-details.html">Product Details</a></li>
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="check-out.html"> Check Out</a></li>
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="faq.html"> Faq </a></li>
                          <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="error.html"> Error page </a></li>
                      </ul>
                      </li> 
                        <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Blog <span class="nav-item__icon"><i class="las la-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="blog.html">Blog</a></li>
                            <li class="dropdown-menu__list"><a class="dropdown-item dropdown-menu__link" href="blog-details.html">Blog Details</a>
                          </li>
                        </ul>
                        </li> 
  
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                    <li class=" nav-item">
                      <div class="toggle-search-box d-none d-lg-block">
                          <button type="button" class="" data-bs-toggle="modal" data-bs-target="#search-box" data-bs-whatever="@mdo"><i class="las la-search"></i></button>
                      </div>
                    </li>
                </ul>
            </div>
            <div class="header-info">
                <div class="toggle-search-box d-lg-none d-block">
                    <button type="button" class="" data-bs-toggle="modal" data-bs-target="#search-box" data-bs-whatever="@mdo"><i class="las la-search"></i></button>
                </div>
              <div class="header-info__wishlist">
                 <a href="wishlist.html" class="header-info__link"><i class="far fa-heart"></i></a>
              </div>
              <div class="header-info__cart">
                     <a href="cart.html" class="header-info__link"><i class="fas fa-shopping-cart"></i></a>
                     <span class="header-info__cart-quantity">03</span>
              </div>
              <div class="header-info__user">
                 <a href="login.html" class="header-info__link"><i class="far fa-user"></i></a>
              </div>
           </div>
        </nav>
    </div>
  </header>
  <!-- ==================== Bottom Header End Here ==================== -->
  
   <!--========================== Search Modal Start ==========================-->
   <div class="overlay-search-box position-relative">
    <div class="modal fade" id="search-box" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="search-overlay-close" data-bs-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="search-box">
                                    <div class="input--group">
                                        <input type="text" class="form--control style-two" placeholder="Search....">
                                        <button class="search-btn" type="submit"><i class="las la-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--========================== Search Modal End ==========================-->

<!-- ==================== Breadcumb Start Here ==================== -->
<section class="breadcumb py-5 bg-img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcumb__wrapper">
                    <h1 class="breadcumb__title"> Products</h1>
                    <ul class="breadcumb__list">
                        <li class="breadcumb__item"><a href="/admin" class="breadcumb__link"> <i class="las la-home"></i> Admin</a> </li>
                        <li class="breadcumb__item"> / </li>
                        <li class="breadcumb__item"> <span class="breadcumb__item-text"> Products </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcumb End Here ==================== -->

<!-- ==================== Contact Start Here ==================== -->
<section class="contact-top">
    <div class="p-5">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary p-2" style="background-color: #804d4e;" onclick="window.location.href='/admin/products/form'">Add new</button>
        </div>
        <table id="productTable" class="table table-bordered display">
            <thead>
                <tr>
                    <th>#</th>
					<th>Status</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Price old</th>
                    <th>Price new</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>

<!-- ========footer===== -->

<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-area section-bg-light bg-img">
    <div class="pb-60 pt-120">
        <div class="container">
            <div class="row justify-content-center gy-5">
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-item">
                        <div class="footer-item__logo">
                            <a href="index.html"> <img th:src="@{/assets/images/logo/footer-logo02.png}" alt=""></a>
                        </div>
                        <p class="footer-item__desc"> Maecenas tempus tellus eget cdimentum rhoncus sem quam semper </p>
                        <ul class="social-list">
                            <li class="social-list__item"><a href="https://www.facebook.com/" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                            <li class="social-list__item"><a href="https://www.twitter.com/" class="social-list__link"> <i class="fab fa-twitter"></i></a></li>
                            <li class="social-list__item"><a href="https://www.linkedin.com/" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-list__item"><a href="https://www.pinterest.com/" class="social-list__link"> <i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-1 d-xl-block d-none"></div>
                <div class="col-xl-2 col-sm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title"> Pages </h5>
                        <ul class="footer-menu">
                            <li class="footer-menu__item"><a href="about.html" class="footer-menu__link"> About Us</a></li>
                            <li class="footer-menu__item"><a href="faq.html" class="footer-menu__link"> Faq</a></li>
                            <li class="footer-menu__item"><a href="cart.html" class="footer-menu__link">Shopping Cart </a></li>
                            <li class="footer-menu__item"><a href="blog.html" class="footer-menu__link"> Blog</a></li>
                            <li class="footer-menu__item"><a href="product-two-details.html" class="footer-menu__link"> Product Details</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title"> Useful link </h5>
                        <ul class="footer-menu">
                            <li class="footer-menu__item"><a href="product-category.html" class="footer-menu__link"> Product Category </a></li>
                            <li class="footer-menu__item"><a href="check-out.html" class="footer-menu__link">Checkout </a></li>
                            <li class="footer-menu__item"><a href="login.html" class="footer-menu__link">Login </a></li>
                            <li class="footer-menu__item"><a href="registration.html" class="footer-menu__link"> Registration </a></li>
                            <li class="footer-menu__item"><a href="contact.html" class="footer-menu__link"> Contact Us </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-1 d-xl-block d-none"></div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">Subscribe now</h5>
                        <div class="subscriber-form mb-3">
                            <input type="text" class=" form--control style-two" placeholder="Email Address" aria-label="Recipient's username" >
                            <button class="btn btn--base subscribe-button"><i class="fas fa-paper-plane"></i></button>
                          </div>
                          <p>Subscribe to our newsletter and get 10% off your first purchase..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- ==================== Footer End Here ==================== -->
  

<!-- Jquery js} -->

<script th:src="@{/assets/js/jquery-3.6.1.min.js}"></script>
<!-- Popper js} -->
<script th:src="@{/assets/js/popper.min.js}"></script>
<!-- Bootstrap js} -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Slick js} -->
<script th:src="@{/assets/js/slick.min.js}"></script>
<!-- countdown js} -->
<script th:src="@{/assets/js/jquery.knob.js}"></script>
<script th:src="@{/assets/js/jquery.throttle.js}"></script>
<script th:src="@{/assets/js/jquery.classycountdown.min.js}"></script>
<!-- range js} -->
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<!-- magnific popup js} -->
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
 <!-- main js} -->
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

 <script th:src="@{/assets/js/main.js}"></script>
 <script>
     const apiUrlBackend = 'http://localhost:9998';
     const apiUrl = 'http://localhost:9998/products';
     const categoryApiUrl = 'http://localhost:9998/categories';

     $(document).ready(function() {
         fetchProducts();
     });

     // Lấy danh sách sản phẩm từ API
     function fetchProducts() {
         $.get(apiUrl)
             .done(function(products) {
                 // Khởi tạo DataTable
                 const productTable = $('#productTable').DataTable({
                     data: products,
                     columns: [
                         { data: 'id' },
						 {
                             data: 'isActive',
                             render: function(isActive, type, row) {
                                 return `
                                     <input type="checkbox" ${row.active ? 'checked' : ''} onchange="toggleStatus(${row.id}, this)" class="button-toggle"  style="--s:20px">
                                 `;
                             }
                         },
                         {
                             data: 'images',
                             render: function(images) {
                                 return `<img src="${apiUrlBackend}/assets/upload${images[0]}" alt="Product Image" width="150px">`;
                             }
                         },
                         { data: 'name' },
                         { data: 'category.name', defaultContent: '' },
                         { data: 'color', defaultContent: '' },
                         { data: 'quantity', defaultContent: '' },
                         { data: 'size', defaultContent: '' },
                         { data: 'oldPrice', defaultContent: '' },
                         { data: 'newPrice', defaultContent: '' },
                         {
                             data: null,
                             render: function(data, type, row) {
                                 return `
                                     <button class="btn btn-primary p-2" onclick="window.location.href='/admin/products/form/find-id/${row.id}'">Sửa</button>
                                     <button class="btn btn-danger p-2" onclick="deleteProduct(${row.id})">Xóa</button>
                                 `;
                             }
                         }
                     ]
                 });
             })
             .fail(function(error) {
                 console.error('Lỗi:', error);
             });
     }

	 function toggleStatus(id, checkbox) {
	         const isActive = checkbox.checked;
	         $.ajax({
	             url: `${apiUrl}/${id}/status`,
	             method: 'PUT',
	             contentType: 'application/json',
	             data: JSON.stringify({ isActive })
	         })
	         .done(function() {
	             // Có thể làm mới bảng hoặc thông báo thành công
	             console.log('Trạng thái đã được cập nhật.');
	         })
	         .fail(function(error) {
	             console.error('Lỗi:', error);
	         });
	     }
	 
     function deleteProduct(id) {
         $.ajax({
             url: `${apiUrl}/${id}`,
             method: 'DELETE'
         })
         .done(function() {
             // Cập nhật lại DataTable sau khi xóa
             $('#productTable').DataTable().ajax.reload();
         })
         .fail(function(error) {
             console.error('Lỗi:', error);
         });
     }
 </script>
</body>

</html>